[Unit]
Description=Peek gateway service into Apache logs
After=network.target remote-fs.target nss-lookup.target httpd-init.service

[Service]
Type=simple
User=root
Group=cachedev
ExecStart=/usr/local/sbin/peek-gw
KillMode=process
Restart=on-failure
RestartSec="6s"

[Install]
WantedBy=multi-user.target
